/* Reset */
*,*::before,*::after{
	box-sizing:border-box;
}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,p,blockquote,th,td,
header,aside,nav,article,figure,figcaption{
	margin:0;
	padding:0;
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var{
	font-style:normal;
	font-weight:400;
}
ol,ul{
	list-style:none;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:400;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}
a{
	text-decoration:none;
}
a:active,a:focus{
	outline:none;
} 



/* Variables */
:root{
  
    /* Reset 1rem = 10px */
    font-size:10px;
    
    /* Basic colors */
    --white:#ffffff;
    --black:#000000;
    
    
    
    /* Layout variables */
    --content-width:90rem;
    --content-padding:5rem;
    
    
    --header-height:10rem;
    --keyvisual-height:60rem;
    
}

/* Globals */
body{
    font-family:sans-serif;
    font-size:2rem;
    font-weight:400;
    line-height:1.4;
    background-image: url("../Images/background.png");
    background-repeat: repeat;
    background-position: top left;
    background-size: 50%;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  section{
    padding:var(--content-padding);
  }
  
  p,ul,figure{
    margin-bottom:3rem;
  }
  
  h1,h2,h3,h4,h5,h6{
    line-height:1.1;
  }
  
  h1{
    font-size:4rem;
    margin-bottom:3rem;
  }
  h2{
    font-size:3rem;
    margin-bottom:2rem;
  }
  h3{
    font-size:2.5rem;
    margin-bottom:1.5rem;
  }
  h4{
    font-size:2.2rem;
    font-weight:700;
  }
/* SPECIFICS */

.element {
  overflow-x: hidden;
}

/* Universal */

.topTrim{
    background-color: #001251;
    max-height: 15rem;
    position: relative;
    min-width: 100%;
}

.logoImage{
    max-height: 15rem;
    max-width: 15rem;
    position: relative;
    margin-top: -7rem;
    aspect-ratio: 1/0.8;
    left: 1rem;
}

.titleText{
    color: whitesmoke;
    font-weight: bolder;
    position: relative;
    left: 20rem;
    font-size: clamp(2rem, 6vw, 4rem);
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav1 {
    margin-top: 0rem;
    font-size: large;
    position: absolute;
    text-decoration: none;
    list-style-type: none;
    min-width: 100%;
}

.nav2 {
  min-width: 100%;
}

.nav2 a {
  background-color: #001251; 
  color: #8ceaff; 
  display: none;
  padding: 12px; 
  text-decoration: none; 
}

.nav2 a:hover {
  background-color: #000B32; 
}

.nav2 a.active {
  background-color: #000B32; 
  font-weight: bolder;
  text-decoration: underline;
}

.active {
  background-color: #000B32;
  font-weight: bolder;
  text-decoration: underline;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    list-style-type: none;
}
li {
    float: left;
    margin: 0 10px;
}
li a:hover {
    background-color: #000B32;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001251;
    display: flex;
    list-style: none;
}

.lightText {
  color: #8ceaff;
}

.darkText {
  color:#001251;
}

.container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: #000B32;
  color: white;
  z-index: 1;
}


#footleft{
  text-align: left;
  padding: 2rem;
  max-width: 40rem;
  position:absolute;
}

#footleftp{
  text-align: left;
  padding: 2rem;
  max-width: 40%;
  margin-top: 6rem;
  margin-bottom: -5rem;
  font-size: smaller;
}


#footright{
  text-align: right;
  float: right;
  padding: 2rem;
  right: 0rem;
  max-width: 40%;
  position: absolute;
  bottom: 7rem;
}

#footrightp{
  position: absolute;
  float: right;
  text-align: right;
  right: 0rem;
  padding: 2rem;
  max-width: 40%;
  bottom: -3rem;
  font-size: smaller;
}


/* Home Page */

#homeContent1{
  display:block;
  background: linear-gradient(107deg, #001251 48%, #0129B8 100%);
  margin: 5rem;
  margin-top: 10rem;
  padding: 2rem;
  padding-left: 20dvh;
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
  border-bottom-right-radius: 13vh;
  border-bottom-left-radius: 5vh;
  max-height: 80%;
}


#homeImg1{
    position: absolute;
    object-fit: contain;
    margin-left: -20dvh;
    padding-right: 2rem;
    border-top-left-radius: 5vh;
    border-bottom-left-radius: 5vh;
    max-width: 20dvh;
}

#homeContent2{
  color: #000B32;
  text-align: left;
  max-width: 30rem;
  margin-left: 2rem;
  margin-top: 7rem;
  border-radius: 5rem;
  position: relative;

}

#homeImg2{
    float: right;
    max-width: 50%;
    max-height: 40dvh;
    padding: 2rem;
    right: 2rem;
    margin-top: -25rem;
    position: relative;
}

#homeContent3{
  background: linear-gradient(240deg, #001261 48%, #132a7c 100%);
    max-width: 100%;
    text-align: center;
    top: 5rem;
    padding: 5rem;
    margin: 8rem;
    margin-top: 15rem;
    border-top-left-radius: 6dvh;
    border-top-right-radius: 15dvh;
    border-bottom-right-radius: 6dvh;
    border-bottom-left-radius: 15dvh;
}

#homeContent4{
    float: right;
    padding: 5rem;
    margin-left: 30rem;
}

#homeImg3{
    max-width: 30rem;
    position: absolute;
    border-radius: 100%;
    padding: 2rem;
}

#homeContent5{
  display: block;  
  max-width: 100%;
  padding: 5rem; 
  text-align: center;
  position: absolute;
  margin-top: 25rem;
  font-weight: bolder;
}

#homeImg4{
  max-width: 80%;
  padding: 5rem;
  text-align: center;
  padding-top: 0rem;
  margin-bottom: 10rem;
}

/* Biography Page */

#bioContent1{
  text-align: center;
  margin-top: 10rem;
}

#bioContent1body{
  padding: 2rem;
  padding-top: 0rem;
}

#bioImg1{
  max-width: 100%;
  padding: 5rem;
  margin-top: -8rem;
  border-radius: 100px;
}

#bioContent2{
  background: linear-gradient(291.89deg, #000B32 42.09%, #011867 101.37%);
  padding: 2rem;
  margin: 5rem;
  margin-top: -2rem;
  border-radius: 4rem;
  border-bottom-right-radius: 10rem;
}

#bioContent2head{
  text-align: center;
  font-weight: bold;
}

#bioContent2_1{
  max-width: 45%;
  padding: 2rem;
  padding-top: 0rem;
}

#bioContent2subHead1{
  font-weight: 400;
}

#bioContent2subBody1{
  font-size: 80%;
}


#bioContent2_2{
  float: right;
  padding: 2rem;
  padding-left: 0;
  padding-right: 0;
  margin-top: -23rem;
  margin-right: 5rem;
  max-width: 45%;
  text-align: center;
}

#bioContent2subHead2{
  float: right;
  margin-right: 5rem;
}

#bioContent2subBody2{
  float: right;
  font-size: 80%;
}

#bioContent2_3{
  color: #A7C0FF;
  text-align: center;
}

#bioContent2subHead3{
  margin: auto;
  width: 50%;
  padding: 2rem;
}

#bioContent2subBody3{
  font-size: 80%;
  width: 70%;
  margin: auto;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

#bioContent2subBody3_2{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 80%;
}

#bioContent3wrap{
  margin-bottom: 35rem;  /* Temp margin */
}

#bioContent3_1{
  background: linear-gradient(360deg, #000B32 3.44%, #011867 104.19%);
  margin: 5rem;
  margin-left: 2rem;
  padding: 2rem;
  border-radius: 4rem;
  border-bottom-right-radius: 13rem;
  max-width: 45%;
  position: absolute;
}

#bioContent3_2{
  background: linear-gradient(360deg, #000B32 3.44%, #011867 104.19%);
  margin: 5rem;
  margin-right: 2rem;
  padding: 2rem;
  border-radius: 4rem;
  border-bottom-left-radius: 13rem;
  max-width: 45%;
  float: right;
}

.bioContent3head{
  text-align: center;
}

.bioContent3body{
  font-size: 70%;
  text-align: center;
}

#bioContent4{
  background: linear-gradient(360deg, #000B32 3.44%, #011867 104.19%);
  margin: 5rem;
  margin-top: 50rem;
  margin-bottom: 30rem; 
  padding: 4rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
  text-align: center;
  font-size: 80%;
  border-radius: 5rem;
  border-top-left-radius: 15rem;
  border-top-right-radius: 15rem;
}

/* Contributions Page */

#conContent1{
  background: linear-gradient(180deg, #000B32 0%, #020E5B 100%);
  padding: 3rem;
  margin: 5rem;
  margin-top: 10rem;
  border-radius: 5rem;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  margin-bottom: 5rem;
}

#conContent1_1{
  margin-left: 30%;
}

#conContent1_1head{
  font-weight: bold;
  margin-right: 30%;
  font-size: 180%;
  text-align: center;
}

.conContent1_1body{
  font-size: 80%;
  padding: 1rem;
}


#conContent1_2{
  max-width: 30%;
  position: relative;
  margin-top: -25rem;
}

#conContent1_2img{
  max-width: 100%;
  padding: 2rem;
}

#conContent1_2imgLabel{
  text-align: center;
  font-size: 120%;
}

#conContent1_3{
  float: right;
  width: 50%;
  position: relative;
}

#conContent1_3img{
  max-width: 60%;
  float: left;
  padding: 2rem;
}

#conContent1_3imgLabel{
  float: right;
  font-size: 100%;
  max-width: 40%;
  padding-top: 2rem;
}

#conContent1_4{
  margin-right: 50%;
  margin-top: 15rem;
}

#conContent1_4head{
  font-size: 140%;
  margin-bottom: 8rem;
}

#conContent1_4body{
  width: 200%;
  font-size: 80%;
  text-decoration: dotted;
  text-align: center;
}

#conContent2{
  background: linear-gradient(260.42deg, #000B32 8.09%, #0A1455 73.38%, #000B35 100.7%);
  padding: 3rem;
  padding-bottom: 8rem;
  margin: 5rem;
  border-radius: 15rem;
  border-top-left-radius: 5rem;
}

#conContent2_1{
  padding-left: 5rem;
}

#conContent2_1head{
  font-weight: bolder;
  font-size: 170%;
}

#conContent2_1body{
  font-size: 90%;
  padding: 2rem;
  margin-right: 5rem;
}

#conContent2_2{
  padding: 2rem;
  padding-bottom: 5rem;
}

#conContent2_2img{
  border-radius: 5rem;
  max-width: 50%;
  float: left;
  margin-left: 1rem;
  padding: 2rem;
}

#conContent2_2body{
  font-size: 80%;
  color: #b9a5e7;
  padding-top: 4rem;
}

#conContent3{
  background: linear-gradient(260.43deg, #000B32 1.7%, #0D1C7A 32.5%, #000B35 100.7%);
  padding: 2rem;
  margin: 5rem;
  border-radius: 5rem;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

#conContent3head{
  text-align: center;
  font-size: 180%;
  font-weight: bold;
}

#conContent3body{
  max-width: 50%;
  margin-left: 5rem;
  float: left;
}

#conContent3body1{
  font-size: 90%;
  margin-bottom: 4rem;
}

#conContent3body2{
  font-size: 90%;
  font-weight: bold;
  font-style: italic;
}

#conContent3img{
  max-width: 40%;
  padding: 5rem;
  border-radius: 100%;
}

#conContent4{
  background: linear-gradient(260.43deg, #000B32 1.7%, #0D1C7A 32.5%, #000B35 100.7%);
  padding: 2rem;
  padding-bottom: 40rem;
  margin: 5rem;
  margin-bottom: 30rem;
  border-radius: 5rem;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

#conContent4head{
  text-align: center;
  font-size: 180%;
}

#conContent4_1{
  width: 60%;
  padding: 2rem;
  padding-right: 4rem;
  float: left;
  font-size: 80%;
}

#conContent4_2{
  max-width: 20%;
  padding: 2rem;
  float: left;
}

#conContent4_2img{
  max-width: 100%;
  max-height: 25rem;
}

#conContent4_2body{
  font-size: 70%;
  font-weight: bold;
  font-style: italic;
}

#conContent4_3{
  max-width: 20%;
  padding: 2rem;
  float: left;
}

#conContent4_3img{
  max-width: 100%;
  max-height: 25rem;
}

#conContent4_3body{
  font-size: 70%;
  font-weight: bold;
  font-style: italic;
}


/* Media queries */

/* Standard desktop  */
@media(max-width:1920px){
	:root{
		--content-padding:4rem;
	}
	#bioContent2_2{
    margin-top: -20rem;
  }
}

/* Old desktop or large scaled UI */
@media(max-width:1280px){
	:root{
		font-size:8px;
	}
  #homeImg1{
    margin-top: -2rem;
    max-width: 20dvh
  }

  #conContent2{
    padding-bottom: 10rem;
  }  
}

/* Tablet landscape */
@media(max-width:1024px){
	:root{
		font-size:10px;
		--content-width:100%;
		--content-padding:2rem;
	}
  #conContent2{
    padding-bottom: 0rem;
  } 
  #conContent4{
    padding-bottom: 25rem;
  }
}

/* Tablet portrait */
@media(max-width:800px){
	:root{
		font-size:9px;
	}
	.nav1{
      display: none;
    }
  .nav2{
      display:block;
  }
  .nav2 a{
      display:block;
  }
  #homeContent5{
    margin-top: 35rem;
  }
  #conContent1_4head{
    margin-bottom: 5rem;
  }
}

/* Smartphones */
@media(max-width:550px){
	:root{
		font-size:7px;
		--content-padding:1rem;
	}
	.logoImage{
        display: none;
    }
  .titleText{
    align-self:self-start;
    width:80%;
    left: 0;
    top: 4rem;
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(4rem, 6vw, 8rem);
    }
  .topTrim{
    height: 30rem;
  }
}