body {
    margin: 0;
    padding: 0;
    background-color: #8ceaff;
    background-image: url("../Images/background.png");
    background-repeat: repeat;
    background-position: top left;
    background-size: 50%;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
}

.container {
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 60px;
    position: relative;
}

.topTrim {
    background-color: #001251;
    width: 100%;
    height: 15vh;
    position: absolute;
    left: 0%;
    top: 0%;
}
/* Navigation stuff */
.nav1 {
    margin-top: 15vh;
    font-size: large;
}
.nav2 {
    text-decoration: none;
    list-style-type: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    list-style-type: none;
}
li {
    float: left;
    margin: 0 10px;
}
li a:hover {
    background-color: #000B32;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001251;
    display: flex;
    list-style: none;
}

.titleText {
    color: whitesmoke;
    font-weight: bolder;
    position: absolute;
    left: 20%;
    font-size: clamp(2rem, 6vw, 4rem);
    align-self: center;
}

.logoImage {
    max-height: 10vw;
    aspect-ratio: 1/0.8;
    position: absolute;
    left: 0px;
    top: 0px;
}

.darkBubbleLeft {
    background: linear-gradient(107deg, #001251 48%, #0129B8 100%);
    max-width: 90%;
    padding: 1%;
    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;
    border-bottom-right-radius: 13vh;
    border-bottom-left-radius: 5vh;
    margin-top: 5vh;
    margin-left: 2vh;
    position: relative;
}

#img1{
    max-width: 20vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border-top-left-radius: 5vh;
    border-bottom-left-radius: 5vh;
}


#content1{
    text-align:left;
    margin-left: 25%;
    padding-left: 2%;
}

#content2{
    color: #000B32;
    text-align: left;
    max-width: 25%;
    margin-left: 2vw;
    margin-top: 5vh;
    border-radius: 5vh;
    position: absolute;
    font-size: clamp(1%, 2vw, 2rem);
}

#content3img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-top: 8vh;
    margin-left: 25vw;
    border-radius: 2vh;

    position: absolute;
}

#content3{
    color: #000B32;
    text-align: right;
    max-width: 25%;
    margin-left: 70%;
    margin-right: 2vh;
    margin-top: 5vh;
    border-radius: 5vh;
    position: absolute;
    font-size: clamp(12px, 3vw, 20px);
}

#content4{
    color: #000B32;
    position: absolute;
    margin-top: 40vh;
    margin-left: 35%;
    max-width: 40%;
}

.content4img{
    max-width: 30vh;
    max-height: 30vw;
    aspect-ratio: 1/1;
    margin-top: 40vh;
    margin-left: 2vh;
    border-radius: 2vh;
    size-adjust: fit-content;
    position: absolute;
    border-radius: 100%;
    border: 0.4vh solid #000B32;
}

.content5img{
    max-width: 25vw;
    margin-top: 45vh;
    margin-right: 1vh;
    float: right;
    size-adjust: fit-content;
}

.lightHeader {
    color: #8ceaff;
    font-size: clamp(12px, 3vw, 20px);
}

.lightBody {
    color: #8ceaff;
    font-size: clamp(12px, 3vw, 20px);
}

.footer {
    background-color: #000B32;
    position: absolute;
    margin-top: 80vh;
    width: 100%;
}

#footleft {
    margin-left: 1vh;
    color: whitesmoke;
}

#footleftp {
    margin-left: 1vh;
    color: whitesmoke;
    max-width: 30vw;
    text-size-adjust: fit-content;
    font-size: small;
}

#footright {
    color: whitesmoke;
    margin-right: 1vh;
    float: right;
    margin-top: -15vh;
}

#footrightp {
    color: whitesmoke;
    margin-right: 1vh;
    float: right;
    margin-top: -10vh;
    max-width: 30vw;
    text-size-adjust: fit-content;
    font-size: small;
}